.footer.container-fluid
	.container
		.row
			.col-lg-3.col-md-4.col-sm-4
				.footer__logo
					img(src="../../img/onTheDniwe.png")
			.col-lg-4.col-lg-offset-1.col-md-4.col-sm-4.hidden-xs
				.footer__contacts Связь с адниминстрацией сайта по любому вопросу: 
					ul
						li
							a(href="#").footer__contacts-link myEmail@gmail.com
						li 
							a(href="#").footer__contacts-link vk.com/id123450
			.col-lg-3.col-lg-offset-1.col-md-4
				.footer__networks
					a(href="#").footer__networks-item
						svg.footer__networks-vk
							use(fill="#fff" xlink:href="#vk")
					a(href="#").footer__networks-item
						svg.footer__networks-youtube
							use(fill="#fff" xlink:href="#youtube")
					a(href="#").footer__networks-item
						svg.footer__networks-twitch
							use(fill="#fff" xlink:href="#twitch")
					a(href="#").footer__networks-item
						svg.footer__networks-twitter
							use(fill="#fff" xlink:href="#twitter")
				.footer__copyright © onTheDniwe.ru