.container-fluid.header
	.container
		.row
			.col-lg-3.header__logo.col-md-3.col-xs-8
				img(src='../../../img/onTheDniwe.png')
			.header__mobile-block.visible-xs.col-xs-4
				a(href="#")
					svg
						use(xlink:href="#search")
				a(href="#")
					svg
						use(xlink:href="#user")
			.header__navbar.col-lg-6.col-lg-offset-3.col-md-7.col-xs-12.col-md-offset-2
				a(href="#").header__navbar-item Новости
				a(href="#").header__navbar-item Видео
				a(href="#").header__navbar-item Статьи
				a(href="#").header__navbar-item Стрим
				a(href="#").header__navbar-item Обо мне
