doctype
head
	link(href="../../static/dist/normalize.css" rel="stylesheet")
	link(href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet")
	link(href="../../static/dist/style.css" rel="stylesheet")
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title page
	script(type="text/javascript" src= "../../js/dist/common.js")
	script(type="text/javascript" src="../../js/modules/jquery.js")
	script(type="text/javascript" src="../../bootstrap/js/bootstrap.min.js")
body
block svg
block header
block content
block footer